<li *ngIf="cartItems.length>0" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Sepet
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li *ngFor="let cartItem of cartItems">
            <a class="dropdown-item">
                <button type="button" class="btn btn-success">
                    {{cartItem.product.productName}} <span class="badge badge-light">{{cartItem.quantity}}</span>
                </button>
                <button type="button" class="btn btn-success">
                    <span (click)="removeFromCart(cartItem.product)" class="badge badge-light">Sil</span>
                </button>
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sepete Git</a></li>
    </ul>
</li>